<section class="container">
  <form (ngSubmit)="getCosts()" [formGroup]="form">
    <app-form-input
      [controlName]="'distance'"
      [form]="form"
      [label]="'Количество километров'"
    ></app-form-input>
    <app-form-input
      [controlName]="'age'"
      [form]="form"
      [label]="'Возраст'"
    ></app-form-input>
    <app-form-input
      [controlName]="'weight'"
      [form]="form"
      [label]="'Вес багажа'"
    ></app-form-input>
    <div class="form-group">
      <button class="btn btn-submit flex-100" type="submit">Рассчитать</button>
    </div>
  </form>
  <section *ngIf="showSuggestions() | async">
    <h3 class="suggestions">Предложения</h3>
    <ng-container *ngFor="let item of data | keyvalue">
      <ng-container *ngIf="isVisible(item.value)">
        <app-price-display
          [costs]="item.value"
          [title]="item.key"
        ></app-price-display>
      </ng-container>
    </ng-container>
  </section>
</section>
